@import "tailwindcss";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --color-dark-bg: #080618;
  --color-purple-accent: #7F77DD;
  --color-purple-dark: #534AB7;
  --color-purple-deep: #3C3489;
  --color-purple-darker: #26215C;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}